# Copyright (c) 2021-2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Filesystem types
type labeledfs, fs_type;
type pipefs, fs_type;
type sockfs, fs_type;
type rootfs, fs_type;
type proc_file, fs_type, proc_type;
type proc_panic, fs_type, proc_type;

type unlabeled, fs_type;
type devpts, fs_type;
type tmpfs, fs_type;
type shm, fs_type;
type mqueue, fs_type;
type sys_file, fs_type;
type selinuxfs, fs_type;
type cgroup, fs_type;
type inotify, fs_type;
type debugfs, fs_type;
type config_file, fs_type;
type functionfs, fs_type;

type system_lib_file, system_file_type, file_type;
type system_etc_file, system_file_type, file_type;
type system_data_file, system_file_type, file_type;
type system_hap_file, system_file_type, file_type;
type system_fonts_file, system_file_type, file_type;
type system_profile_file, system_file_type, file_type;
type system_usr_file, system_file_type, file_type;
type system_bin_file, system_file_type, file_type;

type dev_cpu_variant, file_type;
type fontconfig_file, system_file_type, file_type;
type fonts_file, system_file_type, file_type;
type vendor_file, vendor_file_type, file_type;

type vendor_etc_file, vendor_file_type, file_type;

type sysfs_rtc, fs_type, sysfs_type;
type system_file, file_type;
type lib_file, file_type;
type etc_file, file_type;
type dev_file, file_type;

type sysfs_block_file, sysfs_type, file_type;
type sysfs_hisys_file, sysfs_type, file_type;


type config_usb_gadget, file_type;

type updater_file, file_type;

type data_file, file_type, data_file_type;
type data_hap_file, file_type, data_file_type;
type data_app_file, file_type, data_file_type;
type data_app_el1_file, file_type, data_file_type;
type data_app_el2_file, file_type, data_file_type;
type data_app_el3_file, file_type, data_file_type;
type data_app_el4_file, file_type, data_file_type;
type data_service_file, file_type, data_file_type;
type data_service_el0_file, file_type, data_file_type;
type data_service_el1_file, file_type, data_file_type;
type data_service_el2_file, file_type, data_file_type;
type data_chipset_file, file_type, data_file_type;
type data_chipset_el1_file, file_type, data_file_type;
type data_chipset_el2_file, file_type, data_file_type;

type data_accounts, file_type, data_file_type;
type data_ams_whitelist, file_type, data_file_type;
type data_appasec, file_type, data_file_type;
type data_appephemeral, file_type, data_file_type;
type data_applib, file_type, data_file_type;
type data_appprivate, file_type, data_file_type;
type data_appstaging, file_type, data_file_type;
type data_backup, file_type, data_file_type;
type data_bluetooth, file_type, data_file_type;
type data_bootchart, file_type, data_file_type;
type data_cache, file_type, data_file_type;
type data_data_file, file_type, data_file_type;
type data_dhcp, file_type, data_file_type;
type data_drm, file_type, data_file_type;
type data_ethernet, file_type, data_file_type;
type data_filelog, file_type, data_file_type;
type data_init_agent, file_type, data_file_type;
type data_libinput, file_type, data_file_type;
type data_local, file_type, data_file_type;
type data_log, file_type, data_file_type;
type data_media, file_type, data_file_type;
type data_mediadrm, file_type, data_file_type;
type data_misc, file_type, data_file_type;
type data_misc_ce, file_type, data_file_type;
type data_misc_de, file_type, data_file_type;
type data_nfc, file_type, data_file_type;
type data_ota, file_type, data_file_type;
type data_ota_package, file_type, data_file_type;
type data_parameters, file_type, data_file_type;
type data_preloads, file_type, data_file_type;
type data_resourcecache, file_type, data_file_type;
type data_sadata, file_type, data_file_type;
type data_sadata_de, file_type, data_file_type;
type data_ss, file_type, data_file_type;
type data_storage, file_type, data_file_type;
type data_system, file_type, data_file_type;
type data_system_ce, file_type, data_file_type;
type data_system_de, file_type, data_file_type;
type data_udev, file_type, data_file_type;
type data_update_service_log, file_type, data_file_type;
type data_user, file_type, data_file_type;
type data_user_de, file_type, data_file_type;
type data_vendor, file_type, data_file_type;
type data_vendor_ce, file_type, data_file_type;
type data_vendor_de, file_type, data_file_type;

type proc_net, file_type, proc_type;
type proc_net_tcp_udp, file_type, proc_type;
type proc_asound_file, file_type, proc_type;
type proc_bluetooth_file, file_type, proc_type;
type proc_buddyinfo_file, file_type, proc_type;
type proc_bus_file, file_type, proc_type;
type proc_cgroups_file, file_type, proc_type;
type proc_cmdline_file, file_type, proc_type;
type proc_config_gz_file, file_type, proc_type;
type proc_cpuinfo_file, file_type, proc_type;
type proc_diskstats_file, file_type, proc_type;
type proc_dynamic_debug_file, file_type, proc_type;
type proc_filesystems_file, file_type, proc_type;
type proc_fs_file, file_type, proc_type;
type proc_gt9xx_config_file, file_type, proc_type;
type proc_interrupts_file, file_type, proc_type;
type proc_iomem_file, file_type, proc_type;
type proc_keys_file, file_type, proc_type;
type proc_kmsg_file, file_type, proc_type;
type proc_loadavg_file, file_type, proc_type;
type proc_meminfo_file, file_type, proc_type;
type proc_misc_file, file_type, proc_type;
type proc_modules_file, file_type, proc_type;
type proc_mpp_service_file, file_type, proc_type;
type proc_pagetypeinfo_file, file_type, proc_type;
type proc_partitions_file, file_type, proc_type;
type proc_rkisp_vir0_file, file_type, proc_type;
type proc_slabinfo_file, file_type, proc_type;
type proc_softirqs_file, file_type, proc_type;
type proc_stat_file, file_type, proc_type;
type proc_swaps_file, file_type, proc_type;
type proc_sysrq_trigger_file, file_type, proc_type;
type proc_timer_list_file, file_type, proc_type;
type proc_uptime_file, file_type, proc_type;
type proc_version_file, file_type, proc_type;
type proc_vmallocinfo_file, file_type, proc_type;
type proc_vmstat_file, file_type, proc_type;
type proc_zoneinfo_file, file_type, proc_type;


type dev_parameters_file, dev_type;
type dev_block_file, dev_type;
type dev_bus_file, dev_type;
type dev_bus_usb_file, dev_type;
type dev_char_file, dev_type;
type dev_dma_heap_file, dev_type;
type dev_dri_file, dev_type;
type dev_fscklogs_file, dev_type;
type dev_graphics_file, dev_type;
type dev_input_file, dev_type;
type dev_pts_file, dev_type;
type dev_snd_file, dev_type;
type dev_socket_file, dev_type;
type dev_unix_file, dev_type;
type dev_unix_socket_file, dev_type;
type dev_v_file, dev_type;
type dev_at_file, dev_type;
type dev_ashmem_file, dev_type;
type dev_binder_file, dev_type;
type dev_console_file, dev_type;
type dev_cpu_dma_latency_file, dev_type;
type dev_mgr_file, dev_type;
type dev_svc_mgr_file, dev_type;
type dev_fuse_file, dev_type;
type dev_hdf_file, dev_type;
type dev_hwbinder_file, dev_type;
type dev_iio_file, dev_type;
type dev_kmsg_file, dev_type;
type dev_loop_control_file, dev_type;
type dev_media_file, dev_type;
type dev_rpmb_file, dev_type;
type dev_random_file, dev_type;
type dev_rtc_file, dev_type;
type dev_tee_file, dev_type;
type dev_ubi_file, dev_type;
type dev_uhid_file, dev_type;
type dev_vcs_file, dev_type;
type dev_vhci_file, dev_type;
type dev_video_file, dev_type;
type dev_vndbinder_file, dev_type;
type dev_watchdog_file, dev_type;
type dev_zero_file, dev_type;

type tty_device, dev_type;

type tracefs, fs_type;
type hmdfs, fs_type;
