# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type ohos_param, parameter_type;
type ohos_boot_param, parameter_type;
type sys_param, parameter_type;
type sys_usb_param, parameter_type;
type net_param, parameter_type;
type net_tcp_param, parameter_type;
type hw_sc_param, parameter_type;
type hw_sc_build_param, parameter_type;
type hw_sc_build_os_param, parameter_type;
type init_param, parameter_type;
type init_svc_param, parameter_type;
type const_param, parameter_type;
type const_postinstall_param, parameter_type;
type const_postinstall_fstab_param, parameter_type;
type const_allow_param, parameter_type;
type const_allow_mock_param, parameter_type;
type const_build_param, parameter_type;
type const_product_param, parameter_type;
type security_param, parameter_type;
type hilog_param, parameter_type;
type persist_param, parameter_type;
type persist_sys_param, parameter_type;
type debug_param, parameter_type;
type default_param, parameter_type;

type build_version_param, parameter_type;
