# Copyright (c) 2021-2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type appspawn, domain, nativedomain;
type appspawn_exec, system_file_type, exec_type, file_type;

init_daemon_domain(appspawn);

#binder_call(appspawn, render_service);
#binder_call(appspawn, hdf_devmgr);

#allow appspawn appspawn:process { execmem };

# "/dev/null", O_RDWR
#allow appspawn dev_null_file:chr_file rw_file_perms;

# "/",
#allow appspawn rootfs:dir search;

# "proc",
#allow appspawn appspawn:lnk_file read;

# "/system/lib/*.so", O_RDONLY
#allow appspawn system_lib_file:file { read_file_perms map };
#allow appspawn system_lib_file:dir read_dir_perms;

# "/dev/cpu_variant:arm", O_RDONLY
#allow appspawn dev_cpu_variant:file read_file_perms;

# "/system/etc/fontconfig.json", O_RDONLY
#allow appspawn fontconfig_file:file read_file_perms;

# "/system/fonts/*", O_RDONLY
#allow appspawn fonts_file:file read_file_perms;

# avc: denied {read} for pid = 486 comm="appspawn" path = "pipe:[26660]" dev= "pipefs" ino=26660 scontext=u:r:appspawn:s0 tcontext=u:r:appspawn:s0 tclass=fifo_file permissive = 1
#allow appspawn self:fifo_file read;

#allow appspawn self:unix_stream_socket { write accept connectto };

#allow appspawn system_file:dir search;

#allow appspawn self:unix_dgram_socket { write sendto };

#allow appspawn init_tmpfs:file { read open map };

#allow appspawn tmpfs:dir { write add_name };

#allow appspawn tmpfs:sock_file { create setattr };

#allow appspawn samgr:binder call;

#allow appspawn foundation:unix_stream_socket rw_socket_perms;

