# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow accessibility accessibility:dir { search };
allow accessibility accessibility:lnk_file { read };
allow accessibility accessibility:process { fork getsched };
allow accessibility accessibility:unix_dgram_socket { connect create write };
allow accessibility data_file:dir { search };
allow accessibility data_service_el1_file:dir { getattr search };
allow accessibility data_service_el1_file:file { getattr open read };
allow accessibility data_service_file:dir { search };
allow accessibility debugfs:dir { search };
allow accessibility dev_at_file:chr_file { ioctl open read write };
allow accessibility dev_binder_file:chr_file { ioctl map open read write };
allow accessibility dev_file:dir { search };
allow accessibility dev_null_file:chr_file { ioctl read write };
allow accessibility dev_parameters_file:dir { search };
allow accessibility dev_parameters_file:file { map open read };
allow accessibility dev_random_file:chr_file { open read };
allow accessibility dev_unix_file:dir { search };
allow accessibility dev_unix_socket_file:dir { search };
allow accessibility dev_unix_socket_file:sock_file { write };
allow accessibility etc_file:lnk_file { read };
allow accessibility foundation:binder { call transfer };
allow accessibility init:fd { use };
allow accessibility init:netlink_kobject_uevent_socket { read write };
allow accessibility init:unix_dgram_socket { sendto };
allow accessibility init:unix_stream_socket { read write };
allow accessibility kernel:fd { use };
allow accessibility normal_hap:binder { call };
allow accessibility system_core_hap:binder { call };
allow accessibility system_basic_hap:binder { call };
allow accessibility proc_file:dir { search };
allow accessibility proc_file:lnk_file { read };
allow accessibility rootfs:dir { search };
allow accessibility samain_exec:file { entrypoint execute map read };
allow accessibility samgr:binder { call transfer };
allow accessibility system_etc_file:dir { getattr open read search };
allow accessibility system_etc_file:file { open read };
allow accessibility system_file:dir { search };
allow accessibility system_lib_file:dir { search };
allow accessibility system_lib_file:file { execute getattr map open read };
allow accessibility system_profile_file:dir { search };
allow accessibility system_profile_file:file { getattr open read };
allow accessibility system_usr_file:dir { search };
allow accessibility system_usr_file:file { getattr map open read };
allow accessibility vendor_file:dir { search };
allow accessibility vendor_file:file { execute getattr map open read };
allow accessibility vendor_file:lnk_file { read };
allowxperm accessibility dev_at_file:chr_file ioctl { 0x4101 };
allowxperm accessibility dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
allowxperm accessibility dev_null_file:chr_file ioctl { 0x5413 };
