# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow accesstoken_service accesstoken_service:dir { search };
allow accesstoken_service accesstoken_service:lnk_file { read };
allow accesstoken_service accesstoken_service:process { fork getsched };
allow accesstoken_service accesstoken_service:unix_dgram_socket { connect create write };
allow accesstoken_service data_file:dir { search };
allow accesstoken_service data_service_el0_file:dir { search };
allow accesstoken_service data_service_el0_file:file { getattr open read };
allow accesstoken_service data_service_file:dir { search };
allow accesstoken_service data_system:dir { add_name open read remove_name search write };
allow accesstoken_service data_system:file { create getattr ioctl lock open read write unlink };
allow accesstoken_service debugfs:dir { search };
allow accesstoken_service dev_at_file:chr_file { ioctl open read write };
allow accesstoken_service dev_binder_file:chr_file { ioctl map open read write };
allow accesstoken_service dev_file:dir { search };
allow accesstoken_service dev_null_file:chr_file { read write };
allow accesstoken_service dev_parameters_file:dir { search };
allow accesstoken_service dev_parameters_file:file { map open read };
allow accesstoken_service dev_random_file:chr_file { open read };
allow accesstoken_service dev_unix_file:dir { search };
allow accesstoken_service dev_unix_socket_file:dir { search };
allow accesstoken_service dev_unix_socket_file:sock_file { write };
allow accesstoken_service etc_file:lnk_file { read };
allow accesstoken_service init:fd { use };
allow accesstoken_service init:netlink_kobject_uevent_socket { read write };
allow accesstoken_service init:unix_dgram_socket { sendto };
allow accesstoken_service init:unix_stream_socket { read write };
allow accesstoken_service kernel:fd { use };
allow accesstoken_service proc_file:dir { search };
allow accesstoken_service proc_file:lnk_file { read };
allow accesstoken_service rootfs:dir { search };
allow accesstoken_service samain_exec:file { entrypoint execute map read };
allow accesstoken_service samgr:binder { call transfer };
allow accesstoken_service system_etc_file:dir { search };
allow accesstoken_service system_etc_file:file { open read };
allow accesstoken_service system_file:dir { search };
allow accesstoken_service system_lib_file:dir { search };
allow accesstoken_service system_lib_file:file { execute getattr map open read };
allow accesstoken_service system_profile_file:dir { search };
allow accesstoken_service system_profile_file:file { getattr open read };
allowxperm accesstoken_service data_system:file ioctl { 0xf50c };
allowxperm accesstoken_service dev_at_file:chr_file ioctl { 0x4101 };
allowxperm accesstoken_service dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
