# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow accountmgr accesstoken_service:binder { call };
allow accountmgr accountmgr:dir { getattr open read search };
allow accountmgr accountmgr:fifo_file { read write };
allow accountmgr accountmgr:file { getattr open read };
allow accountmgr accountmgr:lnk_file { read };
allow accountmgr accountmgr:lockdown { confidentiality };
allow accountmgr accountmgr:process { fork getcap getsched ptrace setcap };
allow accountmgr accountmgr:unix_dgram_socket { connect create write };
allow accountmgr accountmgr:unix_stream_socket { connect create read setopt write };
allow accountmgr bgtaskmgr_service:binder { transfer };
allow accountmgr data_file:dir { search };
allow accountmgr data_init_agent:dir { search };
allow accountmgr data_log:file { read write };
allow accountmgr data_system:dir { add_name getattr search write };
allow accountmgr data_system:file { create getattr ioctl open read write };
allow accountmgr debugfs:dir { search };
allow accountmgr dev_at_file:chr_file { ioctl open read write };
allow accountmgr dev_binder_file:chr_file { ioctl map open read write };
allow accountmgr dev_file:dir { search };
allow accountmgr device_usage_statistics_service:binder { transfer };
allow accountmgr dev_null_file:chr_file { open read write };
allow accountmgr dev_parameters_file:dir { search };
allow accountmgr dev_parameters_file:file { map open read };
allow accountmgr dev_random_file:chr_file { open read };
allow accountmgr dev_unix_file:dir { search };
allow accountmgr dev_unix_socket_file:dir { search };
allow accountmgr dev_unix_socket_file:sock_file { write };
allow accountmgr distributeddata:binder { call transfer };
allow accountmgr distributedfile:binder { call transfer };
allow accountmgr etc_file:lnk_file { read };
allow accountmgr faultloggerd:fd { use };
allow accountmgr faultloggerd:unix_stream_socket { connectto };
allow accountmgr foundation:binder { call transfer };
allow accountmgr init:fd { use };
allow accountmgr init:netlink_kobject_uevent_socket { read write };
allow accountmgr init:unix_dgram_socket { sendto };
allow accountmgr init:unix_stream_socket { read write };
allow accountmgr kernel:fd { use };
allow accountmgr lib_file:lnk_file { read };
allow accountmgr memmgrservice:binder { call transfer };
allow accountmgr normal_hap:binder { transfer };
allow accountmgr param_watcher:binder { call transfer };
allow accountmgr system_basic_hap:binder { call transfer };
allow accountmgr proc_file:dir { search };
allow accountmgr proc_file:lnk_file { read };
allow accountmgr rootfs:dir { getattr search };
allow accountmgr samain_exec:file { entrypoint execute getattr map open read };
allow accountmgr samgr:binder { call transfer };
allow accountmgr storage_manager:binder { call };
allow accountmgr sys_file:dir { search };
allow accountmgr sys_file:file { open read };
allow accountmgr sys_file:lnk_file { read };
allow accountmgr sysfs_block_file:dir { search };
allow accountmgr system_bin_file:dir { search };
allow accountmgr system_bin_file:file { execute execute_no_trans map read open };
allow accountmgr system_etc_file:dir { getattr open read search };
allow accountmgr system_etc_file:file { getattr open read };
allow accountmgr system_file:dir { search };
allow accountmgr system_lib_file:dir { search };
allow accountmgr system_lib_file:file { execute getattr map open read };
allow accountmgr system_profile_file:dir { search };
allow accountmgr system_profile_file:file { getattr open read };
allow accountmgr system_usr_file:dir { search };
allow accountmgr system_usr_file:file { getattr map open read };
allow accountmgr tracefs:dir { search };
allow accountmgr tracefs:file { open write };
allow accountmgr vendor_file:dir { search };
allow accountmgr vendor_file:file { execute getattr map open read };
allow accountmgr vendor_file:lnk_file { read };
allowxperm accountmgr data_system:file ioctl { 0x5413 };
allowxperm accountmgr dev_at_file:chr_file ioctl { 0x4101 };
allowxperm accountmgr dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
