# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow appspawn appspawn:capability { chown dac_override dac_read_search fsetid };
allow appspawn appspawn:dir { getattr open read search };
allow appspawn appspawn_exec:file { entrypoint execute getattr map open read };
allow appspawn appspawn:fifo_file { read write };
allow appspawn appspawn:file { getattr open read write };
allow appspawn appspawn:lnk_file { read };
allow appspawn appspawn:process { fork getcap getsched ptrace setcap setcurrent sigkill };
allow appspawn appspawn:unix_dgram_socket { connect create write };
allow appspawn appspawn:unix_stream_socket { accept bind connect create listen read setopt write };
allow appspawn data_file:dir { search };
allow appspawn data_init_agent:dir { add_name search write };
allow appspawn data_init_agent:file { create ioctl open read append };
allow appspawn data_log:file { read write };
allow appspawn debugfs:dir { search };
allow appspawn dev_at_file:chr_file { ioctl open read write };
allow appspawn dev_binder_file:chr_file { ioctl map open read write };
allow appspawn dev_file:dir { search };
allow appspawn dev_null_file:chr_file { open read write };
allow appspawn dev_parameters_file:dir { search };
allow appspawn dev_parameters_file:file { map open read };
allow appspawn dev_random_file:chr_file { open read };
allow appspawn dev_unix_file:dir { search };
allow appspawn dev_unix_socket_file:dir { add_name remove_name search write };
allow appspawn dev_unix_socket_file:sock_file { create setattr unlink write };
allow appspawn etc_file:lnk_file { read };
allow appspawn faultloggerd:fd { use };
allow appspawn faultloggerd:unix_stream_socket { connectto };
allow appspawn hiview:binder { call };
allow appspawn init:fd { use };
allow appspawn init:netlink_kobject_uevent_socket { read write };
allow appspawn init:unix_dgram_socket { sendto };
allow appspawn init:unix_stream_socket { read write };
allow appspawn kernel:fd { use };
allow appspawn kernel:unix_stream_socket { connectto };
allow appspawn lib_file:lnk_file { read };
allow appspawn normal_hap:process { dyntransition };
allow appspawn system_core_hap:process { dyntransition };
allow appspawn system_basic_hap:process { dyntransition };
allow appspawn proc_file:dir { search };
allow appspawn proc_file:lnk_file { read };
allow appspawn rootfs:dir { getattr search };
allow appspawn samgr:binder { call };
allow appspawn security:security { check_context };
allow appspawn selinuxfs:dir { search };
allow appspawn selinuxfs:file { open read write };
allow appspawn selinuxfs:filesystem { getattr };
allow appspawn sys_file:dir { search };
allow appspawn system_bin_file:dir { search };
allow appspawn system_bin_file:file { execute execute_no_trans map read open };
allow appspawn system_etc_file:dir { getattr open read search };
allow appspawn system_etc_file:file { open read };
allow appspawn system_file:dir { search };
allow appspawn system_fonts_file:dir { open read search };
allow appspawn system_fonts_file:file { getattr map open read };
allow appspawn system_lib_file:dir { search };
allow appspawn system_lib_file:file { execute getattr map open read };
allow appspawn system_usr_file:dir { search };
allow appspawn system_usr_file:file { getattr map open read };
allow appspawn vendor_file:dir { search };
allow appspawn vendor_file:file { execute getattr map open read };
allow appspawn vendor_file:lnk_file { read };
allowxperm appspawn data_init_agent:file ioctl { 0x5413 };
allowxperm appspawn dev_at_file:chr_file ioctl { 0x4101 0x4102 };
allowxperm appspawn dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6209 0x621e };
