# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow audio_policy audio_policy:dir { open read search };
allow audio_policy audio_policy:fifo_file { read write };
allow audio_policy audio_policy:file { open read };
allow audio_policy audio_policy:lnk_file { read };
allow audio_policy audio_policy:lockdown { confidentiality };
allow audio_policy audio_policy:process { fork getsched };
allow audio_policy audio_policy:unix_dgram_socket { connect create write };
allow audio_policy audio_policy:unix_stream_socket { connect create getattr getopt read setopt write };
allow audio_policy data_data_file:dir { getattr open read remove_name search write };
allow audio_policy data_data_file:fifo_file { unlink };
allow audio_policy data_data_file:file { lock open read write };
allow audio_policy data_data_file:sock_file { write };
allow audio_policy data_file:dir { search };
allow audio_policy data_init_agent:dir { search };
allow audio_policy debugfs:dir { search };
allow audio_policy dev_at_file:chr_file { ioctl open read write };
allow audio_policy dev_binder_file:chr_file { ioctl map open read write };
allow audio_policy dev_file:dir { search };
allow audio_policy dev_null_file:chr_file { read write };
allow audio_policy dev_parameters_file:dir { search };
allow audio_policy dev_parameters_file:file { map open read };
allow audio_policy dev_random_file:chr_file { open read };
allow audio_policy dev_unix_file:dir { search };
allow audio_policy dev_unix_socket_file:dir { search };
allow audio_policy dev_unix_socket_file:sock_file { write };
allow audio_policy distributeddata:binder { call transfer };
allow audio_policy etc_file:lnk_file { read };
allow audio_policy hdf_devmgr:binder { call transfer };
allow audio_policy init:fd { use };
allow audio_policy init:netlink_kobject_uevent_socket { read write };
allow audio_policy init:unix_dgram_socket { sendto };
allow audio_policy init:unix_stream_socket { read write };
allow audio_policy kernel:fd { use };
allow audio_policy media_service:binder { call };
allow audio_policy multimodalinput:binder { call };
allow audio_policy multimodalinput:fd { use };
allow audio_policy multimodalinput:unix_stream_socket { read write };
allow audio_policy param_watcher:binder { call transfer };
allow audio_policy system_basic_hap:binder { call };
allow audio_policy proc_file:dir { search };
allow audio_policy proc_file:lnk_file { read };
allow audio_policy pulseaudio:binder { call };
allow audio_policy pulseaudio:unix_stream_socket { connectto };
allow audio_policy rootfs:dir { search };
allow audio_policy samain_exec:file { entrypoint execute map read };
allow audio_policy samgr:binder { call transfer };
allow audio_policy sys_file:dir { search };
allow audio_policy system_etc_file:dir { search };
allow audio_policy system_etc_file:file { getattr open read };
allow audio_policy system_file:dir { search };
allow audio_policy system_lib_file:dir { search };
allow audio_policy system_lib_file:file { execute getattr map open read };
allow audio_policy system_profile_file:dir { search };
allow audio_policy system_profile_file:file { getattr open read };
allow audio_policy tracefs:dir { search };
allow audio_policy tracefs:file { open write };
allow audio_policy vendor_file:dir { search };
allow audio_policy vendor_file:file { execute getattr map open read };
allowxperm audio_policy dev_at_file:chr_file ioctl { 0x4101 };
allowxperm audio_policy dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
