# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow battery_stats battery_stats:dir { search };
allow battery_stats battery_stats:lnk_file { read };
allow battery_stats battery_stats:process { fork getsched };
allow battery_stats battery_stats:unix_dgram_socket { connect create write };
allow battery_stats data_file:dir { search };
allow battery_stats data_system:dir { search };
allow battery_stats debugfs:dir { search };
allow battery_stats dev_at_file:chr_file { ioctl open read write };
allow battery_stats dev_binder_file:chr_file { ioctl map open read write };
allow battery_stats dev_file:dir { search };
allow battery_stats dev_null_file:chr_file { read write };
allow battery_stats dev_parameters_file:dir { search };
allow battery_stats dev_parameters_file:file { map open read };
allow battery_stats dev_random_file:chr_file { open read };
allow battery_stats dev_unix_file:dir { search };
allow battery_stats dev_unix_socket_file:dir { search };
allow battery_stats dev_unix_socket_file:sock_file { write };
allow battery_stats etc_file:lnk_file { read };
allow battery_stats foundation:binder { call transfer };
allow battery_stats hiview:binder { call transfer };
allow battery_stats init:fd { use };
allow battery_stats init:netlink_kobject_uevent_socket { read write };
allow battery_stats init:unix_dgram_socket { sendto };
allow battery_stats init:unix_stream_socket { read write };
allow battery_stats kernel:fd { use };
allow battery_stats proc_file:dir { search };
allow battery_stats proc_file:lnk_file { read };
allow battery_stats rootfs:dir { search };
allow battery_stats samain_exec:file { entrypoint execute map read };
allow battery_stats samgr:binder { call transfer };
allow battery_stats system_etc_file:dir { getattr open read search };
allow battery_stats system_etc_file:file { open read };
allow battery_stats system_file:dir { search };
allow battery_stats system_lib_file:dir { search };
allow battery_stats system_lib_file:file { execute getattr map open read };
allow battery_stats system_profile_file:dir { search };
allow battery_stats system_profile_file:file { getattr open read };
allow battery_stats system_usr_file:dir { search };
allow battery_stats system_usr_file:file { getattr map open read };
allow battery_stats vendor_file:dir { search };
allow battery_stats vendor_file:file { execute getattr map open read };
allow battery_stats vendor_file:lnk_file { read };
allowxperm battery_stats dev_at_file:chr_file ioctl { 0x4101 };
allowxperm battery_stats dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
