# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow device_usage_statistics_service accountmgr:binder { call };
allow device_usage_statistics_service bgtaskmgr_service:binder { call transfer };
allow device_usage_statistics_service data_file:dir { search };
allow device_usage_statistics_service data_init_agent:dir { search };
allow device_usage_statistics_service data_init_agent:file { ioctl open read append };
allow device_usage_statistics_service data_system_ce:dir { add_name open read search write };
allow device_usage_statistics_service data_system_ce:file { create getattr ioctl lock map open read read write setattr write };
allow device_usage_statistics_service debugfs:dir { search };
allow device_usage_statistics_service dev_at_file:chr_file { ioctl open read write };
allow device_usage_statistics_service dev_binder_file:chr_file { ioctl map open read write };
allow device_usage_statistics_service dev_file:dir { search };
allow device_usage_statistics_service device_usage_statistics_service:capability { dac_read_search };
allow device_usage_statistics_service device_usage_statistics_service:dir { search };
allow device_usage_statistics_service device_usage_statistics_service:lnk_file { read };
allow device_usage_statistics_service device_usage_statistics_service:lockdown { confidentiality };
allow device_usage_statistics_service device_usage_statistics_service:process { fork getsched };
allow device_usage_statistics_service device_usage_statistics_service:unix_dgram_socket { connect create write };
allow device_usage_statistics_service dev_null_file:chr_file { read write };
allow device_usage_statistics_service dev_parameters_file:dir { search };
allow device_usage_statistics_service dev_parameters_file:file { map open read };
allow device_usage_statistics_service dev_random_file:chr_file { open read };
allow device_usage_statistics_service dev_unix_file:dir { search };
allow device_usage_statistics_service dev_unix_socket_file:dir { search };
allow device_usage_statistics_service dev_unix_socket_file:sock_file { write };
allow device_usage_statistics_service etc_file:lnk_file { read };
allow device_usage_statistics_service foundation:binder { call transfer };
allow device_usage_statistics_service init:fd { use };
allow device_usage_statistics_service init:netlink_kobject_uevent_socket { read write };
allow device_usage_statistics_service init:unix_dgram_socket { sendto };
allow device_usage_statistics_service init:unix_stream_socket { read write };
allow device_usage_statistics_service kernel:fd { use };
allow device_usage_statistics_service param_watcher:binder { call transfer };
allow device_usage_statistics_service proc_file:dir { search };
allow device_usage_statistics_service proc_file:lnk_file { read };
allow device_usage_statistics_service rootfs:dir { search };
allow device_usage_statistics_service samain_exec:file { entrypoint execute map read };
allow device_usage_statistics_service samgr:binder { call transfer };
allow device_usage_statistics_service sys_file:dir { open read search };
allow device_usage_statistics_service sys_file:file { open read };
allow device_usage_statistics_service sys_file:lnk_file { read };
allow device_usage_statistics_service system_etc_file:dir { getattr open read search };
allow device_usage_statistics_service system_etc_file:file { open read };
allow device_usage_statistics_service system_file:dir { search };
allow device_usage_statistics_service system_lib_file:dir { search };
allow device_usage_statistics_service system_lib_file:file { execute getattr map open read };
allow device_usage_statistics_service system_profile_file:dir { search };
allow device_usage_statistics_service system_profile_file:file { getattr open read };
allow device_usage_statistics_service system_usr_file:dir { search };
allow device_usage_statistics_service system_usr_file:file { getattr map open read };
allow device_usage_statistics_service time_service:binder { call };
allow device_usage_statistics_service tracefs:dir { search };
allow device_usage_statistics_service tracefs:file { open write };
allow device_usage_statistics_service vendor_file:dir { search };
allow device_usage_statistics_service vendor_file:file { execute getattr map open read };
allow device_usage_statistics_service vendor_file:lnk_file { read };
allowxperm device_usage_statistics_service data_init_agent:file ioctl { 0x5413 };
allowxperm device_usage_statistics_service data_system_ce:file ioctl { 0x5413 0xf50c };
allowxperm device_usage_statistics_service dev_at_file:chr_file ioctl { 0x4101 };
allowxperm device_usage_statistics_service dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
