# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow display_gralloc_host debugfs:dir { search };
allow display_gralloc_host dev_at_file:chr_file { ioctl open read write };
allow display_gralloc_host dev_binder_file:chr_file { ioctl map open read write };
allow display_gralloc_host dev_dri_file:chr_file { getattr ioctl open read write };
allow display_gralloc_host dev_dri_file:dir { search };
allow display_gralloc_host dev_file:dir { search };
allow display_gralloc_host dev_mgr_file:chr_file { getattr ioctl open read write };
allow display_gralloc_host dev_null_file:chr_file { read write };
allow display_gralloc_host dev_parameters_file:dir { search };
allow display_gralloc_host dev_parameters_file:file { map open read };
allow display_gralloc_host dev_unix_file:dir { search };
allow display_gralloc_host dev_unix_socket_file:dir { search };
allow display_gralloc_host dev_unix_socket_file:sock_file { write };
allow display_gralloc_host display_gralloc_host:capability { sys_admin };
allow display_gralloc_host display_gralloc_host:dir { search };
allow display_gralloc_host display_gralloc_host:lnk_file { read };
allow display_gralloc_host display_gralloc_host:process { fork };
allow display_gralloc_host display_gralloc_host:unix_dgram_socket { connect create write };
allow display_gralloc_host etc_file:lnk_file { read };
allow display_gralloc_host hdf_devmgr:binder { call transfer };
allow display_gralloc_host init:fd { use };
allow display_gralloc_host init:netlink_kobject_uevent_socket { read write };
allow display_gralloc_host init:unix_dgram_socket { sendto };
allow display_gralloc_host init:unix_stream_socket { read write };
allow display_gralloc_host kernel:fd { use };
allow display_gralloc_host proc_file:dir { search };
allow display_gralloc_host proc_file:lnk_file { read };
allow display_gralloc_host rootfs:dir { search };
allow display_gralloc_host samgr:binder { call };
allow display_gralloc_host system_etc_file:dir { search };
allow display_gralloc_host system_etc_file:file { open read };
allow display_gralloc_host system_file:dir { search };
allow display_gralloc_host system_lib_file:dir { search };
allow display_gralloc_host system_lib_file:file { execute getattr map open read };
allow display_gralloc_host vendor_etc_file:dir { search };
allow display_gralloc_host vendor_etc_file:file { getattr open read };
allow display_gralloc_host vendor_file:dir { search };
allow display_gralloc_host vendor_file:file { entrypoint execute getattr map open read };
allowxperm display_gralloc_host dev_at_file:chr_file ioctl { 0x4101 };
allowxperm display_gralloc_host dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6209 0x621e 0x621f };
allowxperm display_gralloc_host dev_dri_file:chr_file ioctl { 0x641f 0x642d 0x64b2 0x64b4 };
allowxperm display_gralloc_host dev_mgr_file:chr_file ioctl { 0x6201 };
