# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow distributeddata accountmgr:binder { call transfer };
allow distributeddata audio_policy:binder { call transfer };
allow distributeddata data_file:dir { open read search };
allow distributeddata data_file:file { getattr ioctl lock map open read write };
allow distributeddata data_init_agent:dir { search };
allow distributeddata data_misc_ce:dir { add_name create getattr open read remove_name rmdir search setattr write };
allow distributeddata data_misc_ce:file { create getattr ioctl lock map open read rename setattr unlink write };
allow distributeddata data_misc_de:dir { add_name create getattr open read remove_name rmdir search setattr write };
allow distributeddata data_misc_de:file { create getattr ioctl lock map open read rename setattr unlink write };
allow distributeddata data_service_el1_file:dir { add_name getattr open read search write };
allow distributeddata data_service_el1_file:file { create getattr ioctl lock map open read write };
allow distributeddata data_service_file:dir { search };
allow distributeddata debugfs:dir { search };
allow distributeddata dev_at_file:chr_file { ioctl open read write };
allow distributeddata dev_binder_file:chr_file { ioctl map open read write };
allow distributeddata dev_file:dir { search };
allow distributeddata deviceauth_service:binder { call };
allow distributeddata dev_null_file:chr_file { read write };
allow distributeddata dev_parameters_file:dir { search };
allow distributeddata dev_parameters_file:file { map open read };
allow distributeddata dev_random_file:chr_file { open read };
allow distributeddata dev_unix_file:dir { search };
allow distributeddata dev_unix_socket_file:dir { search };
allow distributeddata dev_unix_socket_file:sock_file { write };
allow distributeddata distributeddata:dir { search };
allow distributeddata distributeddata:lnk_file { read };
allow distributeddata distributeddata:lockdown { confidentiality };
allow distributeddata distributeddata:process { fork getsched };
allow distributeddata distributeddata:unix_dgram_socket { connect create write };
allow distributeddata distributedsched:binder { call transfer };
allow distributeddata etc_file:lnk_file { read };
allow distributeddata foundation:binder { call transfer };
allow distributeddata huks_service:binder { call };
allow distributeddata init:fd { use };
allow distributeddata init:netlink_kobject_uevent_socket { read write };
allow distributeddata init:unix_dgram_socket { sendto };
allow distributeddata init:unix_stream_socket { read write };
allow distributeddata kernel:fd { use };
allow distributeddata lib_file:lnk_file { read };
allow distributeddata normal_hap:binder { call transfer };
allow distributeddata param_watcher:binder { call transfer };
allow distributeddata proc_file:dir { search };
allow distributeddata proc_file:lnk_file { read };
allow distributeddata rootfs:dir { search };
allow distributeddata samain_exec:file { entrypoint execute map read };
allow distributeddata samgr:binder { call transfer };
allow distributeddata softbus_server:binder { call transfer };
allow distributeddata sys_file:dir { search };
allow distributeddata system_etc_file:dir { getattr open read search };
allow distributeddata system_etc_file:file { open read };
allow distributeddata system_file:dir { search };
allow distributeddata system_lib_file:dir { search };
allow distributeddata system_lib_file:file { execute getattr map open read };
allow distributeddata system_profile_file:dir { search };
allow distributeddata system_profile_file:file { getattr open read };
allow distributeddata system_usr_file:dir { search };
allow distributeddata system_usr_file:file { getattr map open read };
allow distributeddata tracefs:dir { search };
allow distributeddata tracefs:file { open write };
allow distributeddata vendor_file:dir { search };
allow distributeddata vendor_file:file { execute getattr map open read };
allow distributeddata vendor_file:lnk_file { read };
allowxperm distributeddata data_file:file ioctl { 0xf50c };
allowxperm distributeddata data_misc_ce:file ioctl { 0x5413 0xf50c };
allowxperm distributeddata data_misc_de:file ioctl { 0x5413 0xf50c };
allowxperm distributeddata data_service_el1_file:file ioctl { 0xf50c };
allowxperm distributeddata dev_at_file:chr_file ioctl { 0x4101 };
allowxperm distributeddata dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
