# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow cgroup cgroup:filesystem { associate };
allow config_file config_file:filesystem { associate };
allow data_app_el1_file labeledfs:filesystem { associate };
allow data_data_file labeledfs:filesystem { associate };
allow data_file labeledfs:filesystem { associate };
allow data_init_agent labeledfs:filesystem { associate };
allow data_local labeledfs:filesystem { associate };
allow data_log labeledfs:filesystem { associate };
allow data_media labeledfs:filesystem { associate };
allow data_misc_ce labeledfs:filesystem { associate };
allow data_misc_de labeledfs:filesystem { associate };
allow data_misc labeledfs:filesystem { associate };
allow data_service_el1_file labeledfs:filesystem { associate };
allow data_system_ce labeledfs:filesystem { associate };
allow data_system labeledfs:filesystem { associate };
allow dev_ashmem_file tmpfs:filesystem { associate };
allow dev_at_file tmpfs:filesystem { associate };
allow dev_binder_file tmpfs:filesystem { associate };
allow dev_block_file tmpfs:filesystem { associate };
allow dev_bus_usb_file tmpfs:filesystem { associate };
allow dev_console_file tmpfs:filesystem { associate };
allow dev_cpu_dma_latency_file tmpfs:filesystem { associate };
allow dev_dma_heap_file tmpfs:filesystem { associate };
allow dev_dri_file tmpfs:filesystem { associate };
allow dev_file tmpfs:filesystem { associate };
allow dev_fscklogs_file tmpfs:filesystem { associate };
allow dev_fuse_file tmpfs:filesystem { associate };
allow dev_graphics_file tmpfs:filesystem { associate };
allow dev_hdf_file tmpfs:filesystem { associate };
allow dev_hwbinder_file tmpfs:filesystem { associate };
allow device device:filesystem { associate };
allow dev_iio_file tmpfs:filesystem { associate };
allow dev_input_file tmpfs:filesystem { associate };
allow dev_kmsg_file tmpfs:filesystem { associate };
allow dev_loop_control_file tmpfs:filesystem { associate };
allow dev_media_file tmpfs:filesystem { associate };
allow dev_mgr_file tmpfs:filesystem { associate };
allow dev_null_file tmpfs:filesystem { associate };
allow dev_parameters_file tmpfs:filesystem { associate };
allow dev_pts_file devpts:filesystem { associate };
allow dev_random_file tmpfs:filesystem { associate };
allow dev_rpmb_file tmpfs:filesystem { associate };
allow dev_rtc_file tmpfs:filesystem { associate };
allow dev_svc_mgr_file tmpfs:filesystem { associate };
allow dev_tee_file tmpfs:filesystem { associate };
allow dev_ubi_file tmpfs:filesystem { associate };
allow dev_uhid_file tmpfs:filesystem { associate };
allow dev_unix_file tmpfs:filesystem { associate };
allow dev_unix_socket_file tmpfs:filesystem { associate };
allow dev_vcs_file tmpfs:filesystem { associate };
allow dev_v_file tmpfs:filesystem { associate };
allow dev_vhci_file tmpfs:filesystem { associate };
allow dev_video_file tmpfs:filesystem { associate };
allow dev_vndbinder_file tmpfs:filesystem { associate };
allow dev_watchdog_file tmpfs:filesystem { associate };
allow dev_zero_file tmpfs:filesystem { associate };
allow normal_hap_data_file labeledfs:filesystem { associate };
allow system_core_hap_data_file labeledfs:filesystem { associate };
allow system_basic_hap_data_file labeledfs:filesystem { associate };
allow sys_file sys_file:filesystem { associate };
allow tmpfs tmpfs:filesystem { associate };
allow tty_device tmpfs:filesystem { associate };
