# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow hiview accountmgr:dir { search };
allow hiview accountmgr:file { open read };
allow hiview battery_stats:binder { call };
allow hiview data_file:dir { search };
allow hiview data_init_agent:dir { search };
allow hiview data_init_agent:file { ioctl open read append };
allow hiview data_log:dir { add_name open read remove_name search watch write };
allow hiview data_log:file { create getattr lock map open read unlink write open };
allow hiview debugfs:dir { open read search };
allow hiview debugfs:file { getattr open read };
allow hiview dev_at_file:chr_file { ioctl open read write };
allow hiview dev_binder_file:chr_file { ioctl map open read write };
allow hiview dev_file:chr_file { open read };
allow hiview dev_file:dir { search };
allow hiview dev_null_file:chr_file { read write };
allow hiview dev_parameters_file:dir { search };
allow hiview dev_parameters_file:file { map open read };
allow hiview dev_random_file:chr_file { open read };
allow hiview dev_unix_file:dir { search };
allow hiview dev_unix_socket_file:dir { search };
allow hiview dev_unix_socket_file:sock_file { write };
allow hiview etc_file:lnk_file { read };
allow hiview faultloggerd:unix_stream_socket { connectto };
allow hiview foundation:binder { call };
allow hiview foundation:dir { search };
allow hiview foundation:file { open read };
allow hiview hiview:capability { dac_read_search sys_ptrace };
allow hiview hiview:dir { search };
allow hiview hiview_exec:file { entrypoint execute map read };
allow hiview hiview:file { open read };
allow hiview hiview:lnk_file { read };
allow hiview hiview:process { fork };
allow hiview hiview:unix_dgram_socket { connect create write };
allow hiview hiview:unix_stream_socket { connect create read write };
allow hiview init:fd { use };
allow hiview init:netlink_kobject_uevent_socket { read write };
allow hiview init:unix_dgram_socket { getattr getopt read sendto setopt write };
allow hiview init:unix_stream_socket { read write };
allow hiview kernel:fd { use };
allow hiview normal_hap:dir { search };
allow hiview normal_hap:file { open read };
allow hiview system_basic_hap:dir { search };
allow hiview system_basic_hap:file { open read };
allow hiview proc_file:dir { search };
allow hiview proc_file:lnk_file { read };
allow hiview rootfs:dir { search };
allow hiview samgr:binder { call transfer };
allow hiview sys_file:dir { search };
allow hiview system_bin_file:dir { search };
allow hiview system_bin_file:file { execute };
allow hiview system_bin_file:lnk_file { read };
allow hiview system_etc_file:dir { open read search };
allow hiview system_etc_file:file { getattr open read };
allow hiview system_file:dir { search };
allow hiview system_lib_file:dir { search };
allow hiview system_lib_file:file { execute getattr map open read };
allowxperm hiview data_init_agent:file ioctl { 0x5413 };
allowxperm hiview dev_at_file:chr_file ioctl { 0x4101 };
allowxperm hiview dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6209 0x621e 0x621f };
