# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow init accessibility:process { noatsecure rlimitinh siginh transition };
allow init accesstoken_service:process { noatsecure rlimitinh siginh transition };
allow init accountmgr:process { noatsecure rlimitinh siginh transition };
allow init audio_hdi_server_host:process { noatsecure rlimitinh siginh transition };
allow init audio_policy:process { noatsecure rlimitinh siginh transition };
allow init battery_stats:process { noatsecure rlimitinh siginh transition };
allow init bgtaskmgr_service:process { noatsecure rlimitinh siginh transition };
allow init blue_host:process { noatsecure rlimitinh siginh transition };
allow init bluetooth_service:process { noatsecure rlimitinh siginh transition };
allow init camera_host:process { noatsecure rlimitinh siginh transition };
allow init camera_service:process { noatsecure rlimitinh siginh transition };
allow init cgroup:dir { add_name create getattr open read search setattr write };
allow init cgroup:file { getattr open setattr };
allow init cgroup:filesystem { getattr mount };
allow init cgroup:file { write };
allow init config_file:dir { add_name create getattr mounton open read search setattr write };
allow init config_file:file { create getattr open };
allow init config_file:filesystem { getattr mount };
allow init config_file:file { write };
allow init config_file:lnk_file { create };
allow init data_appasec:dir { getattr setattr };
allow init data_app_el1_file:dir { getattr search setattr };
allow init data_app_el2_file:dir { getattr search setattr };
allow init data_app_el3_file:dir { getattr search setattr };
allow init data_app_el4_file:dir { getattr search setattr };
allow init data_appephemeral:dir { getattr setattr };
allow init data_app_file:dir { getattr search setattr };
allow init data_applib:dir { getattr setattr };
allow init data_appprivate:dir { getattr setattr };
allow init data_appstaging:dir { getattr setattr };
allow init data_backup:dir { getattr setattr };
allow init data_bluetooth:dir { getattr };
allow init data_bootchart:dir { getattr setattr };
allow init data_cache:dir { getattr search setattr };
allow init data_chipset_el1_file:dir { getattr search setattr };
allow init data_chipset_el2_file:dir { getattr search setattr };
allow init data_chipset_file:dir { getattr search setattr };
allow init data_data_file:dir { getattr remove_name search setattr write };
allow init data_data_file:file { unlink };
allow init data_dhcp:dir { getattr };
allow init data_drm:dir { getattr setattr };
allow init data_file:dir { add_name getattr mounton open read remove_name search setattr write };
allow init data_file:file { create ioctl open read rename unlink write write open };
allow init data_init_agent:dir { getattr search setattr };
allow init data_init_agent:file { ioctl open read append setattr };
allow init data_local:dir { getattr search setattr };
allow init data_log:dir { getattr search setattr };
allow init data_log:file { read write };
allow init data_media:dir { add_name create getattr open read remove_name rmdir search setattr write };
allow init data_mediadrm:dir { getattr setattr };
allow init data_misc_ce:dir { getattr setattr };
allow init data_misc_de:dir { getattr setattr };
allow init data_misc:dir { getattr search setattr };
allow init data_nfc:dir { getattr search setattr };
allow init data_ota:dir { getattr setattr };
allow init data_ota_package:dir { getattr setattr };
allow init data_preloads:dir { getattr setattr };
allow init data_resourcecache:dir { getattr setattr };
allow init data_sadata_de:dir { getattr search setattr };
allow init data_service_el0_file:dir { getattr search setattr };
allow init data_service_el0_file:file { getattr open read };
allow init data_service_el1_file:dir { getattr search setattr };
allow init data_service_el2_file:dir { getattr search setattr };
allow init data_service_file:dir { getattr search setattr };
allow init data_ss:dir { getattr setattr };
allow init data_system_ce:dir { getattr setattr };
allow init data_system_de:dir { getattr setattr };
allow init data_system:dir { getattr search setattr };
allow init data_user_de:dir { getattr setattr };
allow init data_user:dir { getattr search setattr };
allow init data_vendor_ce:dir { getattr setattr };
allow init data_vendor_de:dir { getattr setattr };
allow init data_vendor:dir { getattr search setattr };
allow init debugfs:dir { search };
allow init debugfs:filesystem { mount };
allow init dev_at_file:chr_file { ioctl open read write setattr };
allow init dev_binder_file:chr_file { ioctl map open read write };
allow init dev_block_file:blk_file { getattr ioctl open read relabelto write };
allow init dev_block_file:dir { open read relabelto search };
allow init dev_block_file:lnk_file { read relabelto };
allow init dev_console_file:chr_file { getattr ioctl open read write };
allow init dev_file:chr_file { getattr ioctl map open read write setattr };
allow init dev_file:dir { add_name create getattr mounton open read relabelfrom relabelto remove_name rmdir search setattr write };
allow init dev_file:lnk_file { create };
allow init dev_fscklogs_file:dir { open read relabelto search setattr };
allow init dev_graphics_file:chr_file { setattr };
allow init dev_graphics_file:dir { search };
allow init dev_hdf_file:chr_file { setattr };
allow init deviceinfoservice:process { noatsecure rlimitinh siginh transition };
allow init device_usage_statistics_service:process { noatsecure rlimitinh siginh transition };
allow init dev_kmsg_file:chr_file { getattr open read relabelto setattr write };
allow init dev_media_file:chr_file { ioctl open read write };
allow init dev_mgr_file:chr_file { setattr };
allow init dev_null_file:chr_file { ioctl open read relabelto write };
allow init dev_parameters_file:dir { open read relabelto search };
allow init dev_parameters_file:file { map open read relabelto };
allow init devpts:chr_file { getattr relabelfrom };
allow init devpts:dir { getattr relabelfrom };
allow init dev_pts_file:chr_file { relabelto };
allow init dev_pts_file:dir { open read relabelto search };
allow init devpts:filesystem { getattr };
allow init dev_random_file:chr_file { getattr open read relabelto write };
allow init dev_unix_file:dir { open read relabelto search };
allow init dev_unix_socket_file:dir { add_name open read relabelto search write };
allow init dev_unix_socket_file:sock_file { create getattr relabelto setattr write };
allow init dev_v_file:chr_file { getattr };
allow init dev_video_file:chr_file { getattr ioctl open read write };
allow init display_gralloc_host:process { noatsecure rlimitinh siginh transition };
allow init distributeddata:process { noatsecure rlimitinh siginh transition };
allow init distributedfile:process { noatsecure rlimitinh siginh transition };
allow init distributedhardware_fwk:process { noatsecure rlimitinh siginh transition };
allow init distributedsched:process { noatsecure rlimitinh siginh transition };
allow init dslm_service:process { noatsecure rlimitinh siginh transition };
allow init etc_file:lnk_file { read };
allow init face_service:process { noatsecure rlimitinh siginh transition };
allow init faultloggerd:fd { use };
allow init faultloggerd:unix_stream_socket { connectto };
allow init fms_service:process { noatsecure rlimitinh siginh transition };
allow init foundation:binder { call transfer };
allow init foundation:process { noatsecure rlimitinh siginh transition };
allow init functionfs:filesystem { mount };
allow init hiview:binder { call };
allow init huks_service:process { noatsecure rlimitinh siginh transition };
allow init init:capability { chown dac_override dac_read_search fowner fsetid net_admin setgid setuid sys_admin sys_boot sys_rawio sys_resource };
allow init init:dir { getattr open read search };
allow init init:fifo_file { read write };
allow init init:file { getattr open read read write write };
allow init init:lnk_file { read };
allow init init:lockdown { confidentiality };
allow init init:netlink_kobject_uevent_socket { bind create setopt };
allow init init:netlink_route_socket { bind create read };
allow init init:process { fork getcap getsched ptrace setcap setexec setrlimit setsched sigkill };
allow init init:udp_socket { create ioctl };
allow init init:unix_dgram_socket { bind connect create ioctl sendto setopt write };
allow init init:unix_stream_socket { bind connect create listen read setopt write };
allow init inputmethod_service:process { noatsecure rlimitinh siginh transition };
allow init input_user_host:process { noatsecure rlimitinh siginh transition };
allow init kernel:fd { use };
allow init kernel:process { setsched };
allow init kernel:system { syslog_read };
allow init kernel:unix_stream_socket { write };
allow init labeledfs:filesystem { getattr mount remount };
allow init lib_file:lnk_file { read };
allow init light_dal_host:process { noatsecure rlimitinh siginh transition };
allow init medialibrary_service:process { noatsecure rlimitinh siginh transition };
allow init media_service:binder { call transfer };
allow init media_service:process { noatsecure rlimitinh siginh transition };
allow init memmgrservice:process { noatsecure rlimitinh siginh transition };
allow init multimodalinput:binder { call };
allow init multimodalinput:fd { use };
allow init multimodalinput:process { noatsecure rlimitinh siginh transition };
allow init multimodalinput:unix_stream_socket { read write };
allow init netmanager:process { noatsecure rlimitinh siginh transition };
allow init param_watcher:binder { call transfer };
allow init param_watcher:process { noatsecure rlimitinh siginh transition };
allow init pinauth_service:process { noatsecure rlimitinh siginh transition };
allow init power_host:process { noatsecure rlimitinh siginh transition };
allow init proc_cmdline_file:file { getattr open read setattr };
allow init proc_file:dir { search };
allow init proc_file:file { getattr open setattr write };
allow init proc_file:lnk_file { read };
allow init proc_interrupts_file:file { setattr };
allow init proc_kmsg_file:file { setattr };
allow init proc_net:file { setattr };
allow init proc_slabinfo_file:file { setattr };
allow init proc_stat_file:file { setattr };
allow init proc_vmallocinfo_file:file { setattr };
allow init pulseaudio:process { noatsecure rlimitinh siginh transition };
allow init render_service:binder { call transfer };
allow init render_service:fd { use };
allow init render_service:unix_stream_socket { read read write };
allow init resource_schedule_service:process { noatsecure rlimitinh siginh transition };
allow init rootfs:dir { getattr search };
allow init rootfs:lnk_file { read };
allow init samain_exec:file { execute execute_no_trans getattr map read open };
allow init samgr:binder { call transfer };
allow init selinuxfs:dir { search };
allow init selinuxfs:file { setattr };
allow init sensor_dal_host:process { noatsecure rlimitinh siginh transition };
allow init sensors:process { noatsecure rlimitinh siginh transition };
allow init socperf_service:process { noatsecure rlimitinh siginh transition };
allow init softbus_server:process { noatsecure rlimitinh siginh transition };
allow init storage_manager:process { noatsecure rlimitinh siginh transition };
allow init sys_file:dir { add_name mounton open read search write };
allow init sys_file:file { create getattr open read setattr };
allow init sys_file:filesystem { getattr };
allow init sys_file:lnk_file { read };
allow init sysfs_block_file:dir { search };
allow init system_bin_file:dir { search };
allow init system_bin_file:file { execute execute_no_trans getattr map read read open };
allow init system_bin_file:lnk_file { read };
allow init system_etc_file:dir { getattr open read search };
allow init system_etc_file:file { getattr map open read };
allow init system_file:dir { search };
allow init system_lib_file:dir { search };
allow init system_lib_file:file { execute getattr map open read read open };
allow init system_profile_file:dir { search };
allow init system_profile_file:file { getattr open read };
allow init system_usr_file:dir { search };
allow init system_usr_file:file { getattr map open read };
allow init telephony_sa:process { noatsecure rlimitinh siginh transition };
allow init thermal_sa:process { noatsecure rlimitinh siginh transition };
allow init time_service:process { noatsecure rlimitinh siginh transition };
allow init tmpfs:blk_file { getattr relabelfrom };
allow init tmpfs:chr_file { getattr relabelfrom };
allow init tmpfs:dir { add_name create getattr mounton open read relabelfrom search setattr write };
allow init tmpfs:file { getattr relabelfrom };
allow init tmpfs:filesystem { getattr mount };
allow init tmpfs:lnk_file { getattr relabelfrom };
allow init tmpfs:sock_file { getattr relabelfrom };
allow init token_sync_service:process { noatsecure rlimitinh siginh transition };
allow init tracefs:dir { search setattr };
allow init tracefs:file { getattr open setattr write };
allow init ui_service:process { noatsecure rlimitinh siginh transition };
allow init unlabeled:dir { setattr };
allow init unlabeled:filesystem { mount };
allow init updater_sa:process { noatsecure rlimitinh siginh transition };
allow init upms:process { noatsecure rlimitinh siginh transition };
allow init usbfnMaster_host:process { noatsecure rlimitinh siginh transition };
allow init usb_host:process { noatsecure rlimitinh siginh transition };
allow init usb_service:process { noatsecure rlimitinh siginh transition };
allow init useriam:process { noatsecure rlimitinh siginh transition };
allow init vendor_etc_file:dir { open read search };
allow init vendor_etc_file:file { getattr open read };
allow init vendor_file:dir { search };
allow init vendor_file:file { execute execute_no_trans getattr map open read read open };
allow init vendor_file:lnk_file { read };
allow init vibrator_dal_host:process { noatsecure rlimitinh siginh transition };
allow init wifi_host:process { noatsecure rlimitinh siginh transition };
allow init wifi_manager_service:process { noatsecure rlimitinh siginh transition };
allow init work_scheduler_service:process { noatsecure rlimitinh siginh transition };
allowxperm init data_file:file ioctl { 0x5413 };
allowxperm init data_init_agent:file ioctl { 0x5413 };
allowxperm init dev_at_file:chr_file ioctl { 0x4101 0x4102 };
allowxperm init dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
allowxperm init dev_block_file:blk_file ioctl { 0x125e 0x1272 0x127c };
allowxperm init dev_console_file:chr_file ioctl { 0x540e };
allowxperm init dev_file:chr_file ioctl { 0x8000 0x8001 0x8003 0x8004 0x8005 0x8007 0x800e 0x800f 0x8011 0x8018 0x8026 };
allowxperm init dev_media_file:chr_file ioctl { 0x7c00 0x7c01 0x7c02 };
allowxperm init dev_null_file:chr_file ioctl { 0x5413 };
allowxperm init dev_video_file:chr_file ioctl { 0x5600 0x5604 };
allowxperm init init:udp_socket ioctl { 0x8913 0x8914 };
allowxperm init init:unix_dgram_socket ioctl { 0x8933 };
