# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow inputmethod_service data_log:file { read write };
allow inputmethod_service debugfs:dir { search };
allow inputmethod_service dev_at_file:chr_file { ioctl open read write };
allow inputmethod_service dev_binder_file:chr_file { ioctl map open read write };
allow inputmethod_service dev_file:dir { search };
allow inputmethod_service dev_null_file:chr_file { open read write };
allow inputmethod_service dev_parameters_file:dir { search };
allow inputmethod_service dev_parameters_file:file { map open read };
allow inputmethod_service dev_random_file:chr_file { open read };
allow inputmethod_service dev_unix_file:dir { search };
allow inputmethod_service dev_unix_socket_file:dir { search };
allow inputmethod_service dev_unix_socket_file:sock_file { write };
allow inputmethod_service etc_file:lnk_file { read };
allow inputmethod_service faultloggerd:fd { use };
allow inputmethod_service faultloggerd:unix_stream_socket { connectto };
allow inputmethod_service foundation:binder { call transfer };
allow inputmethod_service hiview:binder { call };
allow inputmethod_service init:fd { use };
allow inputmethod_service init:netlink_kobject_uevent_socket { read write };
allow inputmethod_service init:unix_dgram_socket { sendto };
allow inputmethod_service init:unix_stream_socket { read write };
allow inputmethod_service inputmethod_service:dir { getattr open read search };
allow inputmethod_service inputmethod_service:fifo_file { read write };
allow inputmethod_service inputmethod_service:file { getattr open read };
allow inputmethod_service inputmethod_service:lnk_file { read };
allow inputmethod_service inputmethod_service:process { fork getcap getsched ptrace setcap sigkill };
allow inputmethod_service inputmethod_service:unix_dgram_socket { connect create write };
allow inputmethod_service inputmethod_service:unix_stream_socket { connect create read setopt write };
allow inputmethod_service kernel:fd { use };
allow inputmethod_service lib_file:lnk_file { read };
allow inputmethod_service normal_hap:binder { call transfer };
allow inputmethod_service system_core_hap:binder { call transfer };
allow inputmethod_service system_basic_hap:binder { call transfer };
allow inputmethod_service proc_file:dir { search };
allow inputmethod_service proc_file:lnk_file { read };
allow inputmethod_service rootfs:dir { getattr search };
allow inputmethod_service samain_exec:file { entrypoint execute getattr map open read };
allow inputmethod_service samgr:binder { call transfer };
allow inputmethod_service system_bin_file:dir { search };
allow inputmethod_service system_bin_file:file { execute execute_no_trans map read open };
allow inputmethod_service system_etc_file:dir { getattr open read search };
allow inputmethod_service system_etc_file:file { open read };
allow inputmethod_service system_file:dir { search };
allow inputmethod_service system_lib_file:dir { search };
allow inputmethod_service system_lib_file:file { execute getattr map open read };
allow inputmethod_service system_profile_file:dir { search };
allow inputmethod_service system_profile_file:file { getattr open read };
allow inputmethod_service system_usr_file:dir { search };
allow inputmethod_service system_usr_file:file { getattr map open read };
allow inputmethod_service vendor_file:dir { search };
allow inputmethod_service vendor_file:file { execute getattr map open read };
allow inputmethod_service vendor_file:lnk_file { read };
allowxperm inputmethod_service dev_at_file:chr_file ioctl { 0x4101 };
allowxperm inputmethod_service dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
