# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow render_service data_file:dir { search };
allow render_service data_init_agent:dir { search };
allow render_service data_init_agent:file { ioctl open read append };
allow render_service debugfs:dir { search };
allow render_service dev_ashmem_file:chr_file { getattr ioctl map open read write };
allow render_service dev_at_file:chr_file { ioctl open read write };
allow render_service dev_binder_file:chr_file { ioctl map open read write };
allow render_service dev_dri_file:chr_file { getattr ioctl open read write };
allow render_service dev_dri_file:dir { search };
allow render_service dev_file:chr_file { ioctl open read write };
allow render_service dev_file:dir { search };
allow render_service dev_graphics_file:chr_file { ioctl open read write };
allow render_service dev_graphics_file:dir { search };
allow render_service dev_null_file:chr_file { ioctl read write };
allow render_service dev_parameters_file:dir { search };
allow render_service dev_parameters_file:file { map open read };
allow render_service dev_random_file:chr_file { open read };
allow render_service dev_unix_file:dir { search };
allow render_service dev_unix_socket_file:dir { search };
allow render_service dev_unix_socket_file:sock_file { write };
allow render_service display_gralloc_host:binder { call };
allow render_service display_gralloc_host:fd { use };
allow render_service etc_file:lnk_file { read };
allow render_service foundation:binder { call transfer };
allow render_service hdf_devmgr:binder { call };
allow render_service init:binder { call transfer };
allow render_service init:fd { use };
allow render_service init:netlink_kobject_uevent_socket { read write };
allow render_service init:unix_dgram_socket { sendto };
allow render_service init:unix_stream_socket { read write };
allow render_service kernel:fd { use };
allow render_service lib_file:lnk_file { read };
allow render_service normal_hap:binder { call transfer };
allow render_service param_watcher:binder { call transfer };
allow render_service system_core_hap:binder { call transfer };
allow render_service system_basic_hap:binder { call transfer };
allow render_service proc_file:dir { search };
allow render_service proc_file:file { open read };
allow render_service proc_file:lnk_file { read };
allow render_service render_service:capability { dac_override sys_admin sys_nice };
allow render_service render_service:dir { search };
allow render_service render_service_exec:file { entrypoint execute map read };
allow render_service render_service:lnk_file { read };
allow render_service render_service:lockdown { confidentiality };
allow render_service render_service:netlink_kobject_uevent_socket { bind create read setopt };
allow render_service render_service:process { fork setsched };
allow render_service render_service:unix_dgram_socket { connect create write };
allow render_service render_service:unix_stream_socket { create read setopt write };
allow render_service rootfs:dir { search };
allow render_service samgr:binder { call transfer };
allow render_service sys_file:dir { search };
allow render_service sys_file:file { open read write };
allow render_service sys_file:lnk_file { read };
allow render_service system_etc_file:dir { getattr open read search };
allow render_service system_etc_file:file { open read };
allow render_service system_file:dir { search };
allow render_service system_lib_file:dir { search };
allow render_service system_lib_file:file { execute getattr map open read };
allow render_service tracefs:dir { search };
allow render_service tracefs:file { open write };
allow render_service vendor_file:dir { search };
allow render_service vendor_file:file { execute getattr map open read };
allow render_service vendor_file:lnk_file { read };
allowxperm render_service data_init_agent:file ioctl { 0x5413 };
allowxperm render_service dev_ashmem_file:chr_file ioctl { 0x7701 0x7703 0x7705 };
allowxperm render_service dev_at_file:chr_file ioctl { 0x4101 };
allowxperm render_service dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6209 0x621e 0x621f };
allowxperm render_service dev_dri_file:chr_file ioctl { 0x6409 0x640d 0x6411 0x641e 0x641f 0x642d 0x642e 0x643a 0x64a0 0x64a1 0x64a6 0x64a7 0x64aa 0x64af 0x64b2 0x64b4 0x64b5 0x64b6 0x64b8 0x64b9 0x64bc 0x64bd 0x64be };
allowxperm render_service dev_file:chr_file ioctl { 0x5017 0x601b };
allowxperm render_service dev_graphics_file:chr_file ioctl { 0x4611 };
allowxperm render_service dev_null_file:chr_file ioctl { 0x5413 };
