# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow resource_schedule_service bgtaskmgr_service:binder { call transfer };
allow resource_schedule_service cgroup:dir { search };
allow resource_schedule_service cgroup:file { getattr open write };
allow resource_schedule_service data_file:dir { search };
allow resource_schedule_service data_init_agent:dir { search };
allow resource_schedule_service data_init_agent:file { ioctl open read append };
allow resource_schedule_service debugfs:dir { search };
allow resource_schedule_service dev_at_file:chr_file { ioctl open read write };
allow resource_schedule_service dev_binder_file:chr_file { ioctl map open read write };
allow resource_schedule_service dev_file:chr_file { ioctl open read write };
allow resource_schedule_service dev_file:dir { search };
allow resource_schedule_service dev_null_file:chr_file { read write };
allow resource_schedule_service dev_parameters_file:dir { search };
allow resource_schedule_service dev_parameters_file:file { map open read };
allow resource_schedule_service dev_random_file:chr_file { open read };
allow resource_schedule_service dev_unix_file:dir { search };
allow resource_schedule_service dev_unix_socket_file:dir { search };
allow resource_schedule_service dev_unix_socket_file:sock_file { write };
allow resource_schedule_service etc_file:lnk_file { read };
allow resource_schedule_service foundation:binder { call transfer };
allow resource_schedule_service init:fd { use };
allow resource_schedule_service init:netlink_kobject_uevent_socket { read write };
allow resource_schedule_service init:unix_dgram_socket { sendto };
allow resource_schedule_service init:unix_stream_socket { read write };
allow resource_schedule_service kernel:fd { use };
allow resource_schedule_service param_watcher:binder { call transfer };
allow resource_schedule_service proc_file:dir { search };
allow resource_schedule_service proc_file:lnk_file { read };
allow resource_schedule_service resource_schedule_service:capability { dac_override dac_read_search };
allow resource_schedule_service resource_schedule_service:dir { search };
allow resource_schedule_service resource_schedule_service:lnk_file { read };
allow resource_schedule_service resource_schedule_service:lockdown { confidentiality };
allow resource_schedule_service resource_schedule_service:process { fork getsched };
allow resource_schedule_service resource_schedule_service:unix_dgram_socket { connect create write };
allow resource_schedule_service rootfs:dir { search };
allow resource_schedule_service samain_exec:file { entrypoint execute map read };
allow resource_schedule_service samgr:binder { call transfer };
allow resource_schedule_service socperf_service:binder { call };
allow resource_schedule_service sys_file:dir { search };
allow resource_schedule_service system_etc_file:dir { getattr open read search };
allow resource_schedule_service system_etc_file:file { getattr open read };
allow resource_schedule_service system_file:dir { search };
allow resource_schedule_service system_lib_file:dir { search };
allow resource_schedule_service system_lib_file:file { execute getattr map open read };
allow resource_schedule_service system_profile_file:dir { search };
allow resource_schedule_service system_profile_file:file { getattr open read };
allow resource_schedule_service system_usr_file:dir { search };
allow resource_schedule_service system_usr_file:file { getattr map open read };
allow resource_schedule_service tracefs:dir { search };
allow resource_schedule_service tracefs:file { open write };
allow resource_schedule_service vendor_file:dir { search };
allow resource_schedule_service vendor_file:file { execute getattr map open read };
allow resource_schedule_service vendor_file:lnk_file { read };
allowxperm resource_schedule_service data_init_agent:file ioctl { 0x5413 };
allowxperm resource_schedule_service dev_at_file:chr_file ioctl { 0x4101 };
allowxperm resource_schedule_service dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
allowxperm resource_schedule_service dev_file:chr_file ioctl { 0xab01 0xab02 };
