# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow samgr accessibility:binder { call transfer };
allow samgr accesstoken_service:binder { call };
allow samgr accountmgr:binder { call transfer };
allow samgr appspawn:binder { transfer };
allow samgr audio_hdi_server_host:binder { transfer };
allow samgr audio_policy:binder { call transfer };
allow samgr battery_stats:binder { call transfer };
allow samgr bgtaskmgr_service:binder { call transfer };
allow samgr blue_host:binder { transfer };
allow samgr bluetooth_service:binder { call };
allow samgr camera_host:binder { transfer };
allow samgr camera_service:binder { call transfer };
allow samgr debugfs:dir { search };
allow samgr dev_at_file:chr_file { ioctl open read write };
allow samgr dev_binder_file:chr_file { ioctl map open read write };
allow samgr dev_file:dir { search };
allow samgr deviceauth_service:binder { call transfer };
allow samgr deviceinfoservice:binder { call };
allow samgr device_usage_statistics_service:binder { call transfer };
allow samgr dev_null_file:chr_file { read write };
allow samgr dev_parameters_file:dir { search };
allow samgr dev_parameters_file:file { map open read };
allow samgr dev_random_file:chr_file { open read };
allow samgr dev_unix_file:dir { search };
allow samgr dev_unix_socket_file:dir { search };
allow samgr dev_unix_socket_file:sock_file { write };
allow samgr display_gralloc_host:binder { transfer };
allow samgr distributeddata:binder { call transfer };
allow samgr distributedfile:binder { call transfer };
allow samgr distributedhardware_fwk:binder { call transfer };
allow samgr distributedsched:binder { call transfer };
allow samgr dslm_service:binder { call transfer };
allow samgr etc_file:lnk_file { read };
allow samgr face_service:binder { call transfer };
allow samgr fms_service:binder { call transfer };
allow samgr foundation:binder { call transfer };
allow samgr hdf_devmgr:binder { call };
allow samgr hiview:binder { call transfer };
allow samgr huks_service:binder { call transfer };
allow samgr init:binder { call transfer };
allow samgr init:fd { use };
allow samgr init:netlink_kobject_uevent_socket { read write };
allow samgr init:unix_dgram_socket { sendto };
allow samgr init:unix_stream_socket { read write };
allow samgr inputmethod_service:binder { call transfer };
allow samgr input_user_host:binder { transfer };
allow samgr installs:binder { call };
allow samgr kernel:fd { use };
allow samgr light_dal_host:binder { transfer };
allow samgr medialibrary_service:binder { call };
allow samgr media_service:binder { call transfer };
allow samgr memmgrservice:binder { call transfer };
allow samgr multimodalinput:binder { call transfer };
allow samgr netmanager:binder { call transfer };
allow samgr normal_hap:binder { transfer };
allow samgr param_watcher:binder { call };
allow samgr pinauth_service:binder { call transfer };
allow samgr system_core_hap:binder { transfer };
allow samgr power_host:binder { transfer };
allow samgr system_basic_hap:binder { transfer };
allow samgr proc_file:dir { search };
allow samgr proc_file:lnk_file { read };
allow samgr pulseaudio:binder { call transfer };
allow samgr render_service:binder { call transfer };
allow samgr resource_schedule_service:binder { call transfer };
allow samgr rootfs:dir { search };
allow samgr samain_exec:file { entrypoint execute map read };
allow samgr samgr:binder { set_context_mgr };
allow samgr samgr:dir { search };
allow samgr samgr:lnk_file { read };
allow samgr samgr:process { fork };
allow samgr samgr:unix_dgram_socket { connect create write };
allow samgr sensor_dal_host:binder { transfer };
allow samgr sensors:binder { call transfer };
allow samgr socperf_service:binder { call };
allow samgr softbus_server:binder { call transfer };
allow samgr storage_daemon:binder { call };
allow samgr storage_manager:binder { call transfer };
allow samgr system_etc_file:dir { search };
allow samgr system_etc_file:file { open read };
allow samgr system_file:dir { search };
allow samgr system_lib_file:dir { search };
allow samgr system_lib_file:file { execute getattr map open read };
allow samgr system_profile_file:dir { open read search };
allow samgr system_profile_file:file { getattr open read };
allow samgr telephony_sa:binder { call transfer };
allow samgr thermal_sa:binder { call transfer };
allow samgr time_service:binder { call transfer };
allow samgr token_sync_service:binder { call transfer };
allow samgr ui_service:binder { call };
allow samgr updater_sa:binder { call };
allow samgr upms:binder { call };
allow samgr usbfnMaster_host:binder { transfer };
allow samgr usb_host:binder { transfer };
allow samgr usb_service:binder { call transfer };
allow samgr useriam:binder { call transfer };
allow samgr vibrator_dal_host:binder { transfer };
allow samgr wifi_host:binder { transfer };
allow samgr wifi_manager_service:binder { call transfer };
allow samgr work_scheduler_service:binder { call transfer };
allowxperm samgr dev_at_file:chr_file ioctl { 0x4101 };
allowxperm samgr dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6207 0x6209 0x621e 0x621f };
