# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow sh dev_console_file:chr_file { getattr ioctl read write };
allow sh dev_file:dir { search };
allow sh dev_parameters_file:dir { search };
allow sh dev_parameters_file:file { map open read };
allow sh etc_file:lnk_file { read };
allow sh init:fd { use };
allow sh init:netlink_kobject_uevent_socket { read write };
allow sh init:unix_stream_socket { read write };
allow sh kernel:fd { use };
allow sh rootfs:dir { search };
allow sh sh_exec:file { entrypoint execute map read };
allow sh system_etc_file:dir { search };
allow sh system_etc_file:file { open read };
allow sh system_file:dir { search };
allow sh system_lib_file:dir { search };
allow sh system_lib_file:file { execute getattr map open read };
allow sh tty_device:chr_file { ioctl open read write };
allowxperm sh dev_console_file:chr_file ioctl { 0x5413 };
allowxperm sh tty_device:chr_file ioctl { 0x5401 0x5403 0x540f 0x5413 };
