# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow udevd data_file:dir { add_name getattr open read remove_name search watch write };
allow udevd data_file:file { create ioctl open read rename unlink write write open };
allow udevd data_file:sock_file { create unlink };
allow udevd dev_ashmem_file:chr_file { getattr write };
allow udevd dev_at_file:chr_file { getattr write };
allow udevd dev_binder_file:chr_file { getattr write };
allow udevd dev_bus_usb_file:chr_file { getattr write };
allow udevd dev_bus_usb_file:dir { search };
allow udevd dev_console_file:chr_file { getattr write };
allow udevd dev_cpu_dma_latency_file:chr_file { getattr write };
allow udevd dev_dma_heap_file:chr_file { getattr write };
allow udevd dev_dma_heap_file:dir { search };
allow udevd dev_dri_file:chr_file { getattr write };
allow udevd dev_dri_file:dir { add_name create getattr search write };
allow udevd dev_dri_file:lnk_file { create };
allow udevd dev_file:chr_file { getattr write };
allow udevd dev_file:dir { add_name create getattr search write };
allow udevd dev_file:lnk_file { create getattr read write };
allow udevd dev_fuse_file:chr_file { getattr setattr write };
allow udevd dev_hwbinder_file:chr_file { getattr write };
allow udevd dev_iio_file:chr_file { getattr write };
allow udevd dev_input_file:chr_file { getattr ioctl open read setattr write };
allow udevd dev_input_file:dir { add_name create getattr search write };
allow udevd dev_input_file:lnk_file { create };
allow udevd dev_kmsg_file:chr_file { getattr ioctl open write };
allow udevd dev_loop_control_file:chr_file { getattr write };
allow udevd dev_media_file:chr_file { getattr write };
allow udevd dev_null_file:chr_file { getattr ioctl open read write };
allow udevd dev_parameters_file:dir { search };
allow udevd dev_parameters_file:file { map open read };
allow udevd dev_random_file:chr_file { getattr open read write };
allow udevd dev_rpmb_file:chr_file { getattr write };
allow udevd dev_rtc_file:chr_file { getattr write };
allow udevd dev_tee_file:chr_file { getattr write };
allow udevd dev_ubi_file:chr_file { getattr write };
allow udevd dev_uhid_file:chr_file { getattr write };
allow udevd dev_unix_file:dir { search };
allow udevd dev_unix_socket_file:dir { search };
allow udevd dev_unix_socket_file:sock_file { write };
allow udevd dev_vcs_file:chr_file { getattr write };
allow udevd dev_v_file:chr_file { getattr write };
allow udevd dev_vhci_file:chr_file { getattr write };
allow udevd dev_video_file:chr_file { getattr write };
allow udevd dev_vndbinder_file:chr_file { getattr write };
allow udevd dev_watchdog_file:chr_file { getattr write };
allow udevd dev_zero_file:chr_file { getattr write };
allow udevd etc_file:lnk_file { read };
allow udevd init:fd { use };
allow udevd init:netlink_kobject_uevent_socket { read write };
allow udevd init:unix_dgram_socket { sendto };
allow udevd init:unix_stream_socket { read write };
allow udevd kernel:fd { use };
allow udevd lib_file:lnk_file { read };
allow udevd proc_cmdline_file:file { open read };
allow udevd proc_file:dir { search };
allow udevd proc_file:lnk_file { read };
allow udevd rootfs:dir { search };
allow udevd rootfs:lnk_file { read };
allow udevd sh_exec:file { execute execute_no_trans map read open };
allow udevd sys_file:dir { search };
allow udevd sys_file:file { getattr open read };
allow udevd sys_file:lnk_file { read };
allow udevd system_bin_file:dir { search };
allow udevd system_etc_file:dir { getattr open read search watch };
allow udevd system_etc_file:file { getattr open read };
allow udevd system_file:dir { search };
allow udevd system_lib_file:dir { search };
allow udevd system_lib_file:file { execute getattr map open read };
allow udevd tty_device:chr_file { getattr open read write };
allow udevd udevd:capability { dac_override fowner fsetid net_admin };
allow udevd udevd:dir { search };
allow udevd udevd_exec:file { entrypoint execute map read };
allow udevd udevd:fifo_file { ioctl read write };
allow udevd udevd:file { ioctl open write };
allow udevd udevd:lnk_file { read };
allow udevd udevd:netlink_kobject_uevent_socket { bind create getattr read setopt write };
allow udevd udevd:process { fork getsched };
allow udevd udevd:unix_dgram_socket { connect create read sendto setopt write };
allow udevd udevd:unix_stream_socket { bind connect create listen setopt };
allowxperm udevd data_file:file ioctl { 0x5413 };
allowxperm udevd dev_input_file:chr_file ioctl { 0x4540 0x4541 };
allowxperm udevd dev_kmsg_file:chr_file ioctl { 0x5413 };
allowxperm udevd dev_null_file:chr_file ioctl { 0x5413 };
allowxperm udevd udevd:fifo_file ioctl { 0x5413 };
allowxperm udevd udevd:file ioctl { 0x5413 };
