# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow uinput_inject dev_file:chr_file { ioctl open write };
allow uinput_inject dev_file:dir { search };
allow uinput_inject dev_hdf_file:chr_file { getattr ioctl open read write };
allow uinput_inject dev_null_file:chr_file { read write };
allow uinput_inject dev_parameters_file:dir { search };
allow uinput_inject dev_parameters_file:file { map open read };
allow uinput_inject dev_unix_file:dir { search };
allow uinput_inject dev_unix_socket_file:dir { search };
allow uinput_inject dev_unix_socket_file:sock_file { write };
allow uinput_inject etc_file:lnk_file { read };
allow uinput_inject init:fd { use };
allow uinput_inject init:netlink_kobject_uevent_socket { read write };
allow uinput_inject init:unix_dgram_socket { sendto };
allow uinput_inject init:unix_stream_socket { read write };
allow uinput_inject kernel:fd { use };
allow uinput_inject proc_file:dir { search };
allow uinput_inject proc_file:lnk_file { read };
allow uinput_inject rootfs:dir { search };
allow uinput_inject system_etc_file:dir { search };
allow uinput_inject system_etc_file:file { open read };
allow uinput_inject system_file:dir { search };
allow uinput_inject system_lib_file:dir { search };
allow uinput_inject system_lib_file:file { execute getattr map open read };
allow uinput_inject uinput_inject:dir { search };
allow uinput_inject uinput_inject_exec:file { entrypoint execute map read };
allow uinput_inject uinput_inject:lnk_file { read };
allow uinput_inject uinput_inject:process { fork };
allow uinput_inject uinput_inject:unix_dgram_socket { connect create write };
allow uinput_inject vendor_file:dir { search };
allow uinput_inject vendor_file:file { execute getattr map open read };
allowxperm uinput_inject dev_file:chr_file ioctl { 0x5501 0x5564 0x5565 0x5567 0x556e };
allowxperm uinput_inject dev_hdf_file:chr_file ioctl { 0x6201 0x6202 0x6203 };
