# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow updater_sa data_file:dir { add_name search write };
allow updater_sa data_file:file { append create ioctl open };
allow updater_sa data_init_agent:dir { search };
allow updater_sa data_init_agent:file { ioctl open read append };
allow updater_sa debugfs:dir { search };
allow updater_sa dev_at_file:chr_file { ioctl open read write };
allow updater_sa dev_binder_file:chr_file { ioctl map open read write };
allow updater_sa dev_file:dir { search };
allow updater_sa dev_null_file:chr_file { ioctl read write };
allow updater_sa dev_parameters_file:dir { search };
allow updater_sa dev_parameters_file:file { map open read };
allow updater_sa dev_random_file:chr_file { open read };
allow updater_sa dev_unix_file:dir { search };
allow updater_sa dev_unix_socket_file:dir { search };
allow updater_sa dev_unix_socket_file:sock_file { write };
allow updater_sa etc_file:lnk_file { read };
allow updater_sa init:fd { use };
allow updater_sa init:netlink_kobject_uevent_socket { read write };
allow updater_sa init:unix_dgram_socket { sendto };
allow updater_sa init:unix_stream_socket { read write };
allow updater_sa kernel:fd { use };
allow updater_sa proc_file:dir { search };
allow updater_sa proc_file:lnk_file { read };
allow updater_sa rootfs:dir { search };
allow updater_sa samain_exec:file { entrypoint execute map read };
allow updater_sa samgr:binder { call transfer };
allow updater_sa system_etc_file:dir { search };
allow updater_sa system_etc_file:file { open read };
allow updater_sa system_file:dir { search };
allow updater_sa system_lib_file:dir { search };
allow updater_sa system_lib_file:file { execute getattr map open read };
allow updater_sa system_profile_file:dir { search };
allow updater_sa system_profile_file:file { getattr open read };
allow updater_sa updater_sa:dir { search };
allow updater_sa updater_sa:lnk_file { read };
allow updater_sa updater_sa:process { fork getsched };
allow updater_sa updater_sa:unix_dgram_socket { connect create write };
allowxperm updater_sa data_file:file ioctl { 0x5413 };
allowxperm updater_sa data_init_agent:file ioctl { 0x5413 };
allowxperm updater_sa dev_at_file:chr_file ioctl { 0x4101 };
allowxperm updater_sa dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
allowxperm updater_sa dev_null_file:chr_file ioctl { 0x5413 };
