# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow useriam accesstoken_service:binder { call };
allow useriam data_file:dir { search };
allow useriam debugfs:dir { search };
allow useriam dev_at_file:chr_file { ioctl open read write };
allow useriam dev_binder_file:chr_file { ioctl map open read write };
allow useriam dev_file:dir { search };
allow useriam dev_null_file:chr_file { read write };
allow useriam dev_parameters_file:dir { search };
allow useriam dev_parameters_file:file { map open read };
allow useriam dev_random_file:chr_file { open read };
allow useriam dev_unix_file:dir { search };
allow useriam dev_unix_socket_file:dir { search };
allow useriam dev_unix_socket_file:sock_file { write };
allow useriam etc_file:lnk_file { read };
allow useriam face_service:binder { call transfer };
allow useriam init:fd { use };
allow useriam init:netlink_kobject_uevent_socket { read write };
allow useriam init:unix_dgram_socket { sendto };
allow useriam init:unix_stream_socket { read write };
allow useriam kernel:fd { use };
allow useriam kernel:unix_stream_socket { connectto };
allow useriam pinauth_service:binder { call transfer };
allow useriam system_basic_hap:binder { call };
allow useriam proc_file:dir { search };
allow useriam proc_file:lnk_file { read };
allow useriam rootfs:dir { search };
allow useriam samain_exec:file { entrypoint execute map read };
allow useriam samgr:binder { call transfer };
allow useriam system_etc_file:dir { search };
allow useriam system_etc_file:file { open read };
allow useriam system_file:dir { search };
allow useriam system_lib_file:dir { search };
allow useriam system_lib_file:file { execute getattr map open read };
allow useriam system_profile_file:dir { search };
allow useriam system_profile_file:file { getattr open read };
allow useriam useriam:dir { search };
allow useriam useriam:lnk_file { read };
allow useriam useriam:process { fork getsched };
allow useriam useriam:unix_dgram_socket { connect create write };
allow useriam useriam:unix_stream_socket { connect create read setopt write };
allowxperm useriam dev_at_file:chr_file ioctl { 0x4101 };
allowxperm useriam dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
