# Copyright (c) 2022 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the License);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow wifi_manager_service data_dhcp:dir { search };
allow wifi_manager_service data_file:dir { search };
allow wifi_manager_service data_misc:dir { add_name search write };
allow wifi_manager_service data_misc:file { create ioctl open read write };
allow wifi_manager_service data_misc:sock_file { write };
allow wifi_manager_service debugfs:dir { search };
allow wifi_manager_service dev_at_file:chr_file { ioctl open read write };
allow wifi_manager_service dev_binder_file:chr_file { ioctl map open read write };
allow wifi_manager_service dev_file:dir { search };
allow wifi_manager_service dev_null_file:chr_file { read write };
allow wifi_manager_service dev_parameters_file:dir { search };
allow wifi_manager_service dev_parameters_file:file { map open read };
allow wifi_manager_service dev_random_file:chr_file { open read };
allow wifi_manager_service dev_unix_file:dir { search };
allow wifi_manager_service dev_unix_socket_file:dir { search };
allow wifi_manager_service dev_unix_socket_file:sock_file { write };
allow wifi_manager_service etc_file:lnk_file { read };
allow wifi_manager_service foundation:binder { call };
allow wifi_manager_service init:fd { use };
allow wifi_manager_service init:netlink_kobject_uevent_socket { read write };
allow wifi_manager_service init:unix_dgram_socket { sendto };
allow wifi_manager_service init:unix_stream_socket { read write };
allow wifi_manager_service kernel:fd { use };
allow wifi_manager_service lib_file:lnk_file { read };
allow wifi_manager_service netmanager:binder { call transfer };
allow wifi_manager_service system_basic_hap:binder { call };
allow wifi_manager_service proc_file:dir { search };
allow wifi_manager_service proc_file:lnk_file { read };
allow wifi_manager_service rootfs:dir { search };
allow wifi_manager_service samain_exec:file { entrypoint execute map read };
allow wifi_manager_service samgr:binder { call transfer };
allow wifi_manager_service system_bin_file:dir { search };
allow wifi_manager_service system_bin_file:file { execute execute_no_trans map read open };
allow wifi_manager_service system_etc_file:dir { search };
allow wifi_manager_service system_etc_file:file { open read };
allow wifi_manager_service system_file:dir { search };
allow wifi_manager_service system_lib_file:dir { search };
allow wifi_manager_service system_lib_file:file { execute getattr map open read };
allow wifi_manager_service system_profile_file:dir { search };
allow wifi_manager_service system_profile_file:file { getattr open read };
allow wifi_manager_service wifi_hal_service:unix_stream_socket { connectto };
allow wifi_manager_service wifi_manager_service:capability { dac_override dac_read_search net_admin };
allow wifi_manager_service wifi_manager_service:dir { search };
allow wifi_manager_service wifi_manager_service:lnk_file { read };
allow wifi_manager_service wifi_manager_service:process { fork getsched };
allow wifi_manager_service wifi_manager_service:udp_socket { create ioctl };
allow wifi_manager_service wifi_manager_service:unix_dgram_socket { connect create write };
allow wifi_manager_service wifi_manager_service:unix_stream_socket { connect create read write };
allowxperm wifi_manager_service data_misc:file ioctl { 0x5413 };
allowxperm wifi_manager_service dev_at_file:chr_file ioctl { 0x4101 };
allowxperm wifi_manager_service dev_binder_file:chr_file ioctl { 0x6201 0x6205 0x6208 0x6209 0x621e 0x621f };
allowxperm wifi_manager_service wifi_manager_service:udp_socket ioctl { 0x8916 };
